@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";
@theme{
    --font-jakarta: "Plus Jakarta Sans", sans-serif;
    --breakpoint-xs: 500px;
    --color-dark: #161616;
    --color-light: #f0f0f0;
}